#board {
  background-image: url('/chess-game/chess_board.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  max-width: 90vmin;
  aspect-ratio: 1 / 1;
  height: auto;
  position: relative;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
}
